html, body {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: aliceblue;
}

main {
    max-width: 1200px;
    margin: 50px auto;
}

table th {
    text-align: left;
}

code.tag {
    background: rgba(0, 0, 0, 0.04);
    padding: 0 2px;

    /* disable line breaks in tags */
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
}
